<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=balduinomanstorageaccoun;AccountKey=QIA4mWa+323JkItNLxAU+vdgF+Ykav2REh93lFC+EdAcMRJboIY7adFex9Sy8iyeCPcXdqVITy9P+ASt4Qjxjg==;EndpointSuffix=core.windows.net" />
    </appSettings>
</configuration>